/*
* This file provides all of the color variables used.
*/
/*
* This file provides all of the specific variables used.
*/
/*
* This component provides the breakpoint values.
*/
/*
* This component provides the mixins used.
*/
/*
* This component provides base styles.
*/
@font-face {
  font-family: "orkesteri";
  src: url(../fonts/at661__.ttf);
}
body {
  font-family: Comic Sans MS, verdana, arial, helvetica, sans-serif;
  background: black;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.progress
{
  color: #82512b;
  padding-top: 60px;
  font-size: 2em;
}

.application-container {
  background: black none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  display: none;
}

.loading {
  text-align: center;
  color: #82512b;
  margin-top: 200px;
}

.loading .text {
  margin-bottom: 3em;
}

.application-inside {
  cursor: pointer;
}

.inner-text {
  cursor: pointer;
}

.Desktop .application-inside:hover {
  opacity: 0.55;
  -webkit-transition: all, 0.3s, ease-in-out;
  -moz-transition: all, 0.3s, ease-in-out;
  -ms-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}

.inner-text {
  fill: #82512b !important;
}

body {
  margin: 0;
  padding: 0;
}

.playedNow path {
  fill: #d5d5d4;
}

.reset {
  color: white;
  cursor: pointer;
}
.reset:hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
}

.application-logo {
  display: inline-block;
  width: 50%;
}
.application-logo img {
  padding-left: 5%;
  padding-top: 25px;
}

.application-info {
  display: inline-block;
  float: right;
  width: 30%;
  padding: 6%;
  padding-bottom: 0;
}

.application-body{
	height: 410px;
}

.application-body svg {
  width: 100%;
}

.application-inner {
  margin: 0 auto;
  max-width: 800px;
}

.application-controls {
  background: transparent none repeat scroll 0 0;
  clear: both;
  margin: -94px auto 50px;
  width: 165px;
  text-align: center;
}
@media all and (max-width: 768px) {
  .application-controls {
    background: #be7b32 none repeat scroll 0 0 !important;
    border-radius: 0 0 20px 20px;
    clear: both;
    margin: 0 auto 15px;
    text-align: center;
    width: 100%;
  }
}

.application-controls .volume{
	width: 129px;
	margin: 7px 2px 0 2px;
	padding: 0;
	height: 21px;
}

audio {
  display: none;
}

.application-video-first {
  background: transparent url("../images/kehys.png") no-repeat scroll 69% 20%/89% auto;
  display: inline-block;
  height: 295px;
  padding-right: 2.5%;
  width: 47%;
  height: 365px;
}

.application-video-second {
  background: transparent url("../images/rotatedkehys.png") no-repeat scroll 110% 20%/89% auto;
  display: inline-block;
  height: 295px;
  padding-left: 2.5%;
  width: 47%;
  height: 365px;
}

@media all and (max-width: 768px) {
  .application-video-second, .application-video-first {
    background: none;
    width: 45%;
    height: auto;
  }
}

video {
  border: 2px solid #BE7E34;
  border-radius: 15px;
  position: relative;
  width: 100%;
}

.triangle {
  background: cornflowerblue;
  height: 40px;
  width: 50px;
  padding: 20px;
  content: "";
  cursor: pointer;
  display: inline-block;
}
.triangle.disabled {
  background: #d5d5d4;
}

video {
  width: 100%;
}

/*
* This component provides the base layout.
*/
/*
* This component provides everything related to typography.
*/
.play {
  background: transparent url("../images/playbtn.png") no-repeat scroll center bottom;
}

.pause {
  background: transparent url("../images/pausebtn.png") no-repeat scroll center bottom;
}

.play, .pause {
  padding-top: 15px;
  transition: all 0.2s ease-in-out 0.2s;
  border: medium none;
  color: transparent;
  height: 32px;
  width: 32px;
}
.play:hover, .pause:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out 0.2s;
}
.play.active, .pause.active {
  opacity: 0.5;
}
@media all and (max-width: 768px) {
  .play, .pause {
    height: 32px;
    width: 32px;
  }
}

img.tooltip-image {
  display: none;
  position: absolute;
  top: 0; 
  left: 0;
}

/*
* This is a placeholder for component styles.
*/
