/*
* This component provides base styles.
*/

@font-face {
  font-family: "orkesteri";
  src: url(../fonts/at661__.ttf);
}

body {
  font-family: Comic Sans MS, verdana, arial, helvetica, sans-serif;
  background: black;
}

.application-container {
  background: black none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  display: none;
}
.loading {
  text-align: center;
  color: #82512b;
  margin-top: 200px;
}
.loading .text {
  margin-bottom: 3em;
}

.application-inside {
  cursor: pointer;
}
.inner-text {
  cursor: pointer;
}

.application-inside:hover {
  opacity: 0.55;
  @include transition();
}

.inner-text {
  fill: #82512b !important;
}

body {
  margin: 0;
  padding: 0;
}

.application-inside[status="disabled"] {
  fill: #d5d5d4;
}

.reset {
  color: white;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}

img {
  max-width: 100%;
}
.application-logo {
  display: inline-block;
  width: 50%;
  img {
    padding-left: 5%;
    padding-top: 25px;
  }
}

.application-info {
  display: inline-block;
  float: right;
  width: 30%;
  padding: 6%;
  padding-bottom: 0;
}

.application-body svg {
  width: 100%;
}

.application-inner {
  margin: 0 auto;
  max-width: 800px;
}
.application-controls {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  clear: both;
  margin: -65px auto 50px;
  width: 165px;
  text-align: center;
  @include respond-to(phone) {
    background: #be7b32 none repeat scroll 0 0 !important;
    border-radius: 0 0 20px 20px;
    clear: both;
    margin: 0 auto 15px;
    text-align: center;
    width: 100%;
  }
}

audio {
  display: none;
}

.application-video-first {
  background: transparent url("../images/kehys.png") no-repeat scroll 69% 20% / 89% auto;
  display: inline-block;
  height: 295px;
  padding-right: 2.5%;
  width: 47%;
  height: 365px;
}

.application-video-second {
  background: transparent url("../images/rotatedkehys.png") no-repeat scroll 110% 20% / 89% auto;
  display: inline-block;
  height: 295px;
  padding-left: 2.5%;
  width: 47%;
  height: 365px;
}

.application-video-second, .application-video-first {
  @include respond-to(phone) {
    background: none;
    width: 45%;
    height: auto;
  }
}
video {
  border: 2px solid #BE7E34;
  border-radius: 15px;
  position: relative;
  width: 100%;
}


.triangle {
  background: cornflowerblue;
  height: 40px;
  width: 50px;
  padding: 20px;
  content: "";
  cursor: pointer;
  display: inline-block;
  &.disabled {
    background: #d5d5d4;
  }
}

video {
  width: 100%;
}